* {
  box-sizing: border-box;
}

html {
  height: 100%;
  overflow: hidden;
}

body {
  background: url('https://ak9.picdn.net/shutterstock/videos/1007204479/thumb/1.jpg');
  background-attachment: fixed;
  background-size: cover;
  position: absolute;
  bottom: 0;
  left: 0;
  overflow: auto;
  right: 0;
  top: 0;
}

.App {
  text-align: center;
}

.add-form {
  display: flex;
  flex-direction: column;
  margin: auto;
  background: white;
  opacity: 0.95;
  width: 450px;
}

input {
  font-size: 16px;
  margin: 10px;
  width: 400px;
  justify-content: center;
  padding: 10px;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

button {
  font-size: 16px;
  margin: 10px;
  width: 400px;
  padding: 10px;
}

h1,
h2 {
  background-color: rgba(255, 255, 255, 0.95);
  padding: 10px;
  color: limegreen;
}

h2 {
  color: #6C9BED;
}

h3 {
  color: #FF7A61;
  margin: 0;
}

.yearbook-section {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.yearbook-card {
  background: white;
  border-radius: 5px;
  height: 450px;
  margin: 10px;
  opacity: 0.95;
  width: 350px;
}

.images {
  border-radius: 5px;
  height: 280px;
  margin-top: 20px;
  margin-bottom: 0;
  width: 250px;
}

.quotes {
  font-style: italic;
}

.superlative {
  color: #6C9BED;
  font-weight: bold;
}
